<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" th:content="${metaDescription}">
    <title th:text="${title}">Default Title</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<!-- 전역 경고 메시지 -->
    <div id="global-warning" class="alert alert-danger text-center" role="alert">
        <strong>경고:</strong> 오류가 발생했습니다.
    </div>
    <!-- 헤더 -->
	<div th:replace="~{fragments/header :: header}"></div>

    <!-- 메인 콘텐츠 -->
    <main layout:fragment="content" class="content container"></main>

    <!-- 푸터 -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
