<div th:fragment="header">
	<header class="container-fluid bg-light" th:fragment="header">
        <div class="container d-flex justify-content-between align-items-center py-3">
            <div class="logo">
                <a href="/">
					<img src="/images/logo.png" title="Logo" alt="Logo" class="img-fluid" style="max-height: 50px;">
				</a>
            </div>
            <nav>
                <!--<a href="/user/membership_form" class="mx-3 text-dark">요금제</a> -->
                <a th:href="@{/storage/list}" class="mx-3 text-dark">스토리지</a>
				<a th:href="@{/user/login_form}" class="btn btn-primary top-btn" 
				   sec:authorize="!isAuthenticated()">로그인</a>

				<!-- 로그인 상태에서만 보임 -->
				<a th:href="@{/user/logout}" class="btn btn-foreign top-btn" 
				   sec:authorize="isAuthenticated()">로그아웃</a>
            </nav>
        </div>
    </header>
</div>