<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">

    <main layout:fragment="content">
		<div class="row">
			<div class="col text-right ">
				<div class="mt-5 mr-4 pt-3">
			        <h1>AI 영상 비식별화</h1>
			        <p class="lead mt-4">영상을 업로드해보세요.<br/>클릭 한 번이면 모든 상표가 비식별화됩니다!</p>
			        <a th:href="@{/storage/list}" class="btn btn-primary mt-4">무료로 시작하기</a>
				</div>
	        </div>
			<div class="col ml-3 text-center">
	            <img src="/images/main_page.png" title="Main Image" alt="Main Image" class="img-fluid" style="max-width: 85%; height: auto;">
	        </div>
		</div>
    </main>
</html>